.swiper-pagination {
    display: flex;
    justify-content: center;
}

.swiper-pagination-bullet {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 20px;
    font-size: 12px;
    color: #000;
    opacity: 1;
    font-size: 12pt;
    background: rgba(0, 0, 0, 0.315);
  }
  
  .swiper-pagination-bullet-active {
    color: #fff;
    background: #007aff;
  }
  